/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: #4CBB17;
}

.story-user {
  margin-left: 2em;
  display: block;
  color: orange;
}


/* .fav-button{
} */

.unchecked{
  color: lightgrey;
}

.remove-story{
  margin: 0;
  margin-left: 2em;
  padding: 0;
  width: 40px;
  height: 15px;
  border: none;
  font-size: 0.6rem;
  background-color:lightgrey;
}

hr.solid{
  border-top: 1px solid lightgrey;
}
